*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right bottom, #434343, #000000); 
    overscroll-behavior: none;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.longitude,
.latitude,
.vel,
.al{

    font-size: 30px;
}
.text{
    opacity: 30%;
}

.lattext{
    font-size: 30px;
}